orjson==3.8.0
pydantic==1.10.2
requests==2.28.1
aiohttp==3.8.3
httpx==0.23.0
python-dotenv==0.21.0
# backoff==2.1.2
backoff==2.2.1
python-jose==3.3.0
dependency-injector==4.40.0

starlite==1.27.0
starlite-jwt==1.4.0

redis==4.3.4
redis-om==0.0.27
hiredis==2.0.0
asyncpg==0.26.0
# SQLAlchemy 2
https://github.com/sqlalchemy/sqlalchemy/archive/main.zip
alembic==1.8.1

loguru==0.6.0

gunicorn==20.1.0
uvicorn==0.18.3
uvloop==0.17.0
greenlet==1.1.3
